
.imgList{
   
    display: inline;
}
#logo{
 width: 300px; 
 margin-top:   1%; 
 margin-bottom: -5%;
}
#capa{
 margin-top: 5%;
}

#List{
    width: 34%;
    height: 3%;
    margin-top: -4%;

    display: inline-flex;
    list-style:none;
    margin-left: 78%;
}

.Vazia{
    width: 3%;
    height: 1%;
    font-size: 4em;
    padding-left: 2%;
    padding-right: 1%;
    margin-top: -7%;
    margin-left: 2%;
    transform: rotate(90deg);
 color: rgb(59, 63, 63);
 
 border-radius: 30em #f4f4f4;
}
.semnada{
    width: 3%;
    height: 3%;
    font-size: 4em;
    color: rgb(35, 39, 39);
        padding-left: -4%;
        margin-top: -7%;
        margin-left: 2%;
      padding-right: -1%;
      transform: rotate(90deg);
      
    
}

.capa{

width: 100%;
    
}
table {
    margin-left: 40%;
   

}
 td {
   font-weight: bold;
    color: rgb(9, 9, 9);
}